*{
    
    box-sizing: border-box;
    font-family: sans-serif;
    font-style: italic;

}

h1{
    background-color: black;
    color: white;

}

#color{
    color: aqua;

} 

h2{
    background-color: blueviolet;
    color: white;
    text-align: center;
}
h3{
    text-decoration: underline;
    background-color: steelblue;
    color: black;
    text-align: end;
}