*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1{
    background-color: black;
    color: white;

}

#color{
    color: aqua;

} 

h2{
    background-color: blueviolet;
    color: white;
    font-family: sans-serif;
    text-align: center;
}
h3{
    text-decoration: underline;
    background-color: steelblue;
    color: black;
    font-family: sans-serif;
    text-align: end;
}